---
# initialize user home
- name: add mnt dir
  file:
    path: "{{ home }}/mnt"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: add bin dir
  file:
    path: "{{ home }}/bin"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: add .config dir
  file:
    path: "{{ config }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: add .cfg dir
  file:
    path: "{{ config }}/cfg"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"

- name: profile source bashrc
  blockinfile:
    path: "{{ home }}/.profile"
    create: yes
    marker: "# {mark} source bashrc"
    block: |
      if [ -f $HOME/.bashrc ]; then
        . $HOME/.bashrc
      fi

- name: profile add .cfg dir 
  blockinfile:
    path: "{{ home }}/.profile"
    create: yes
    marker: "# {mark} cfg loader"
    block: |
      for f in ${HOME}/.config/cfg/*cfg
      do
        source ${f}
      done

# cfg 00-prompt
- name: 00-prompt
  template:
    src: "cfg/00-prompt.cfg"
    dest: "{{ config }}/cfg/00-prompt.cfg"
- name: 00-prompt chown
  file:
    path: "{{ config }}/cfg/00-prompt.cfg"
    owner: "{{ user }}"
    group: "{{ user }}"
# cfg 01-bash_autocomplete
- name: 01-bash_autocomplete
  template:
    src: "cfg/01-bash_autocomplete.cfg"
    dest: "{{ config }}/cfg/01-bash_autocomplete.cfg"
- name: 01-bash_autocomplete chown
  file:
    path: "{{ config }}/cfg/01-bash_autocomplete.cfg"
    owner: "{{ user }}"
    group: "{{ user }}"
# cfg 10-homebin dir
- name: 10-homebin
  template:
    src: "cfg/10-homebin.cfg"
    dest: "{{ config }}/cfg/10-homebin.cfg"
- name: 10-homebin chown
  file:
    path: "{{ config }}/cfg/10-homebin.cfg"
    owner: "{{ user }}"
    group: "{{ user }}"
# cfg aliases.cfg
- name: aliases
  template:
    src: "cfg/aliases.cfg"
    dest: "{{ config }}/cfg/aliases.cfg"
- name: aliases chown
  file:
    path: "{{ config }}/cfg/aliases.cfg"
    owner: "{{ user }}"
    group: "{{ user }}"
